<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium parallel testing for VB Bank Practice Project"
       verbose="2"
       parallel="classes"
       thread-count="2">



    <listeners>
        <listener class-name="listeners.ExtentTestNGListener"/>
    </listeners>


    <test name="LoginPage Tests">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="TestClasses.loginPageTest"/>
        </classes>

    </test>
    <test name="RegistrationPage1 Tests">
        <parameter name="browser" value="chrome"/>
        <parameter name="UserFullName" value="ABC"/>
        <parameter name="UserName" value="AB"/>
        <parameter name="UserEmailAddress" value="eyre@yopmail.com"/>
        <parameter name="UserPassword" value="123456"/>
        <classes>
            <class name="TestClasses.registrationPageTest"/>
        </classes>
    </test>

    <test name="RegistrationPage2 Tests">
        <parameter name="browser" value="chrome"/>
        <parameter name="UserFullName" value="XYZ"/>
        <parameter name="UserName" value="XY"/>
        <parameter name="UserEmailAddress" value="eyre1@yopmail.com"/>
        <parameter name="UserPassword" value="678901"/>
        <classes>
            <class name="TestClasses.registrationPageTest"/>
        </classes>
    </test>


    <test name="HomePage Tests">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="TestClasses.homePageTest"/>
        </classes>
    </test>

    <test name="topUpPage Tests">
        <parameter name="browser" value="chrome"/>
        <parameter name="AddAmount" value="100"/>
        <parameter name="AddAmountOnPopUpPage" value="100"/>
        <parameter name="UserCardNumber" value="1234567812345678"/>
        <parameter name="UserCardHolderName" value="AB"/>
        <parameter name="UserCardCvv" value="07/28"/>
        <parameter name="UserCardExpiryDate" value="123"/>
        <parameter name="AmountNumberInSuccessfulMessage" value="100"/>
        <classes>
            <class name="TestClasses.topUpPageTest"/>
        </classes>
    </test>

    <test name="topUpPage1 Tests">
        <parameter name="browser" value="chrome"/>
        <parameter name="AddAmount" value="500"/>
        <parameter name="AddAmountOnPopUpPage" value="500"/>
        <parameter name="UserCardNumber" value="1234560132345678"/>
        <parameter name="UserCardHolderName" value="XY"/>
        <parameter name="UserCardCvv" value="07/29"/>
        <parameter name="UserCardExpiryDate" value="234"/>
        <parameter name="AmountNumberInSuccessfulMessage" value="500"/>
        <classes>
            <class name="TestClasses.topUpPageTest"/>
        </classes>
    </test>

    <test name="BillsPaymentPageTest Tests">
    <parameter name="browser" value="chrome"/>
    <parameter name="ProviderName" value="VB Power"/>
    <parameter name="PaymentAmount" value="10"/>
    <parameter name="BillDescription" value="Electric Bill"/>
    <classes>
        <class name="TestClasses.billsPaymentPageTest"/>
    </classes>
</test>

    <test name="BillsPaymentPageTest1 Tests">
        <parameter name="browser" value="firefox"/>
        <parameter name="ProviderName" value="VB Water"/>
        <parameter name="PaymentAmount" value="10"/>
        <parameter name="BillDescription" value="Water Bill"/>
        <classes>
            <class name="TestClasses.billsPaymentPageTest"/>
        </classes>
    </test>

    <test name="BillsPaymentPageTest2 Tests">
        <parameter name="browser" value="firefox"/>
        <parameter name="ProviderName" value="VB Gas"/>
        <parameter name="PaymentAmount" value="30"/>
        <parameter name="BillDescription" value="Gas Bill"/>
        <classes>
            <class name="TestClasses.billsPaymentPageTest"/>
        </classes>
    </test>

    <test name="BillsPaymentPageTest3 Tests">
        <parameter name="browser" value="firefox"/>
        <parameter name="ProviderName" value="VB Internet"/>
        <parameter name="PaymentAmount" value="20"/>
        <parameter name="BillDescription" value="Internet Bill"/>
        <classes>
            <class name="TestClasses.billsPaymentPageTest"/>
        </classes>
    </test>



</suite>